- provide(:title, 'Events')
%section#apprenticeships-index.section
  .container

    #austin_events
      %h1 Austin Events
      = render 'shared/nav_events'
      %br/
      %br/
      .accordion#accordion2
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.howitworks-drop{"data-toggle" => "collapse", href: "#collapseAustin", class: 'pull-center' }
              How it Works
              %i.fa.fa-chevron-down
          #collapseAustin.accordion-body.in
            .accordion-inner
              %br/
              .row-fluid
                %ul.thumbnails
                  %li.span4
                    .row-fluid
                      .span2.pull-center
                        %i.fa.fa-bullhorn.circled.pull-center.fa-3x
                      .span10
                        %h3 Get Notified
                        %p
                          Follow makers to show your interest. If the event already happened, we'll let you know the next time they post a workshop or apprenticeship.
                  %li.span4
                    .row-fluid
                      .span2.pull-center
                        %i.fa.fa-check-circle.circled.pull-center.fa-3x
                      .span10
                        %h3 Apply
                        %p
                          Apply for an apprenticeship for free. We'll send the Maker your application, and we'll only charge you a $30.00 matching fee if it works out. Score!
                  %li.span4
                    .row-fluid
                      .span2.pull-center
                        %i.fa.fa-shield.circled.pull-center.fa-3x
                      .span10
                        %h3 Support
                        %p
                          We'll keep track of what you're learning and offer support along the way. You'll end up with a testimonial and a sweet set of skills for your portfolio!

      .row
        - unless @austin_events.blank?
          = render 'event', events: @austin_events
        - unless @filled_austin_events.blank?
          = render 'event', events: @filled_austin_events
      %br
      %br
      %h1 Past Austin Events
      %br
      %br
      .row
        - unless @closed_austin_events.blank?
          = render 'event', events: @closed_austin_events



    #houston_events.hide
      %h1 Houston Events
      = render 'shared/nav_events'
      %br/
      %br/
      .accordion#accordion2
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.howitworks-drop{"data-toggle" => "collapse", href: "#collapseHouston", class: 'pull-center' }
              How it Works
              %i.fa.fa-chevron-down
          #collapseHouston.accordion-body.in
            .accordion-inner
              %br/
              .row-fluid
                %ul.thumbnails
                  %li.span4
                    .row-fluid
                      .span2.pull-center
                        %i.fa.fa-bullhorn.circled.pull-center.fa-3x
                      .span10
                        %h3 Get Notified
                        %p
                          Follow makers to show your interest. If the event already happened, we'll let you know the next time they post a workshop or apprenticeship.
                  %li.span4
                    .row-fluid
                      .span2.pull-center
                        %i.fa.fa-check-circle.circled.pull-center.fa-3x
                      .span10
                        %h3 Apply
                        %p
                          Apply for an apprenticeship for free. We'll send the Maker your application, and we'll only charge you a $30.00 matching fee if it works out. Score!
                  %li.span4
                    .row-fluid
                      .span2.pull-center
                        %i.fa.fa-shield.circled.pull-center.fa-3x
                      .span10
                        %h3 Support
                        %p
                          We'll keep track of what you're learning and offer support along the way. You'll end up with a testimonial and a sweet set of skills for your portfolio!
      .row
        - unless @houston_events.blank?
          = render 'event', events: @houston_events
        - unless @filled_houston_events.blank?
          = render 'event', events: @filled_houston_events
      %br
      %br
      %h1 Past Houston Events
      %br
      %br
      .row
        - unless @closed_houston_events.blank?
          = render 'event', events: @closed_houston_events


