- provide(:title, 'Edit Profile')
%section#admin.section.alt-grey
  .container
    .row-fluid
      .span2.pull-left
        = render 'dashboards/nav'

      .span10.pull-right
        .fancyform-light.form-horizontal
          %h2 Tell us about your interests
          /%h2 Profile
          = simple_form_for(@user, :url => update_avatar_path, defaults: { input_html: { class: 'span5' } }, html: { :method => :put } ) do |f|

            = f.input :craft, label: "Your craft(s)?", placeholder: "Ex: Woodworking"

            = f.input :learning_goals, label: "Craft(s) you want to learn?", placeholder: "Ex: Welding, Typography, Shoemaking"

            = f.input :maker_crush, label: "Know someone you'd like to work with already?", placeholder: "Ex: Natalie Davis of Canoe"

            = f.input :website, label: "Your website", placeholder: "Ex: www.girlsguild.com"

            /= f.input :webshop
            /= f.input :business
            /= f.input :photos

            = render 'avatar_fields', f: f
